In [2]:
from neo4j import GraphDatabase
import pandas as pd

In [3]:
# URI = "http://localhost:7474"
# URI = "bolt://localhost:7687"
URI = "neo4j://localhost"
AUTH = ("neo4j", "ilovecs411")

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    driver.verify_connectivity()

In [4]:
URI = "bolt://localhost:7687"
AUTH = ("neo4j", "ilovecs411")

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    driver.verify_connectivity()
    print("Connection established.")

Connection established.

In [5]:
query = """
CALL db.relationshipTypes()
"""
driver = GraphDatabase.driver(URI, auth=AUTH)
records, summary, keys = driver.execute_query(query)
records, summary, keys

([],
 <neo4j._work.summary.ResultSummary at 0x7fbbb10aded0>,
 ['relationshipType'])

In [6]:
def neo4j_query(query):
    uri = "bolt://localhost:7687"
    # uri = "neo4j://localhost"
    user = "neo4j"
    password = "ilovecs411"
    driver = GraphDatabase.driver(uri, auth=(user, password))
    with driver.session() as session:
        result = session.run(query)
        data = pd.DataFrame([dict(record) for record in result])
    driver.close()
    return data

In [7]:
# Define the query
query = """
MATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)
RETURN k.name AS k_name, count(f.name) AS f_count
ORDER BY f_count DESC
LIMIT 10;
"""

# Run the query and get the results
neo4j_data = neo4j_query(query)
neo4j_data

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.UnknownLabelWarning} {category: UNRECOGNIZED} {title: The provided label is not in the database.} {description: One of the labels in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing label name is: KEYWORD)} {position: line: 2, column: 40, offset: 40} for query: '\nMATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)\nRETURN k.name AS k_name, count(f.name) AS f_count\nORDER BY f_count DESC\nLIMIT 10;\n'
Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.UnknownRelationshipTypeWarning} {category: UNRECOGNIZED} {title: The provided relationship type is not in the database.} {description: One of the relationship types in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing relationship type is: INTERESTED_IN)} {position: line: 2, column: 21, offset: 21} for query: '\nMATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)\nRETURN k.name AS k_name, count(f.name) AS f_count\nORDER BY f_count DESC\nLIMIT 10;\n'

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.UnknownPropertyKeyWarning} {category: UNRECOGNIZED} {title: The provided property key is not in the database} {description: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: name)} {position: line: 3, column: 34, offset: 82} for query: '\nMATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)\nRETURN k.name AS k_name, count(f.name) AS f_count\nORDER BY f_count DESC\nLIMIT 10;\n'
Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.UnknownLabelWarning} {category: UNRECOGNIZED} {title: The provided label is not in the database.} {description: One of the labels in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing label name is: FACULTY)} {position: line: 2, column: 10, offset: 10} for query: '\nMATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)\nRETURN k.name AS k_name, count(f.name) AS f_count\nORDER BY f_count DESC\nLIMIT 10;\n'
Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.UnknownPropertyKeyWarning} {category: UNRECOGNIZED} {title: The provided property key is not in the database} {description: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: name)} {position: line: 3, column: 10, offset: 58} for query: '\nMATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)\nRETURN k.name AS k_name, count(f.name) AS f_count\nORDER BY f_count DESC\nLIMIT 10;\n'

Empty DataFrame
Columns: []
Index: []

In [8]:

# Function to connect to Neo4j and run the query
def neo4j_query(query):
    uri = "bolt://localhost:7687"
    user = 'neo4j'
    password = 'ilovecs411'
    driver = GraphDatabase.driver(uri, auth=(user, password))
    with driver.session(database="academicworld") as session:
        result = session.run(query)
        data = pd.DataFrame([dict(record) for record in result])
    driver.close()
    return data

# Define the adjusted query based on actual labels and properties
query = """
MATCH (f:FACULTY)-[:INTERESTED_IN]->(k:KEYWORD)
RETURN k.name AS k_name, count(f.name) AS f_count
ORDER BY f_count DESC
LIMIT 10;
"""

# Run the query and get the results
neo4j_data = neo4j_query(query)
neo4j_data

             k_name  f_count
0          internet      341
1        processors      276
2  computer science      256
3           attacks      185
4        developers      183
5           queries      157
6            server      151
7              java      146
8     optimizations      146
9          compiler      142

In [13]:
professor_query = """
MATCH (f:FACULTY)
WHERE f.name IS NOT NULL AND f.name <> ""
RETURN f.name AS name
ORDER BY f.name
"""
professors = neo4j_query(professor_query)['name'].dropna()
# Filter to exclude rows without letters
professors = professors[professors.str.contains('[a-zA-Z]', regex=True)]
print(len(professors))
professors.head()

professors.tolist().index("Kevin Chenchuan Chang")

5595

3036